* {
    background-color: black;
    font-family: 'Lato', sans-serif;
}
h1{
    margin-bottom: 0;
    margin-top:20px;
}
p {
    margin-top: 0;
}

 .Heading {
   color: white;
   margin-left: 100px;
   padding-top: 5px;
   margin-top:20px;
 
 }
 
 .topline {
     margin-left: 70px;
     width:50px;
     position: absolute; 
     height: 5px;
     background-color:yellow;
   
    
 
 }
 .bottomline{
    margin-left: 70px;
     width:50px;
     position: absolute; 
     height: 5px;
     background-color:yellow;
     margin-top: 0px;
 }

 footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: white;
   
  }
  .social-icon {
    margin: 20px 10px;
  }

  .LogonContainer {
    margin-top: 200px;
    color: bisque;
    
  }

.inputArea{
background-color: black;
}

.floatRight{
  float:right;clear:right;margin-left:20px
}